{{> c-header-nav}}
{{!-- <div class="products-page-detail-top services-training">
    <h2>About Us </h2>
    <h6>To form a strategic alliance of Products & Services and to ensure Reliability in Practice</h6>
    <div class="head">
    </div>
    <div class="tip text-center">
        <h4>Dealing in Brand new, Refurbished and Used </h4>
    </div> 
</div>--}}
{{#if tenders}}
    <div class="products-page">
        <div class="head">
            <h1>Tenders</h1>
            <h6>Your trusted partner in brand new and used medical products and equipents</h6>
   
            <p>
                Operated by medical professional and technologicaly skilled team, our priority is obtaining 
                ensurance reimbursement for our customers with the items best suited for them. 
                We carry a variety of supplies and equipment to be used at hospicals and beyond.
            </p>
            
        </div>
        
        <section>
            <h5>comming soon...</h5>
            There are no applicable tenders for now.
        </section>

    

    
    </div>
{{/if}}
{{#if careers}}
    <div class="products-page">
        <div class="head">
            <h1>Careers</h1>
            <h6>Your trusted partner in brand new and used medical products and equipents</h6>
            <p>
                Operated by medical professional and technologicaly skilled team, our priority is obtaining 
                ensurance reimbursement for our customers with the items best suited for them. 
                We carry a variety of supplies and equipment to be used at hospicals and beyond.
            </p>
        </div>
        <section>
            <h5>comming soon...</h5>
            There are no vacancies for now.
        </section>
    </div>
{{/if}}
{{#if aboutUs}}
<div class="about-us">
    <div class="products-page-detail-top about">
        <h2>More Than 30 Years of Service and Sales Experience </h2>
        <div class="head">
        </div>
    </div>
</div>

<div>
    <section class="our-company">
        <h3 class="text-center">Our Company </h3>
        <p>
        Shams Medex is an entire arrangement supplier of therapeutic hardware to medicinal services and life
        sciences (Hospitals), Laboratory, look into focuses and to the business by and large. We speak to the
        entire scope of incredibly famous medicinal gear (brands) in all finished Pakistan. Under the umbrella of
        Shams Medex. we showcase European, Japanese's and USA's brands.
        </p>
    </section>

    
</div>

<div class="history">
    <section class="our-history">
        <br>
        <h3 class="text-center">Our history </h3>
        <p>
        Example of overcoming adversity The Company was at first settled in 1986 and was for the most part
        engaged with the import, showcasing and offering of doctor's facility restorative furniture for 10 years.
        In July 2010, we thought of new administration, the directorate and Vision to alter the social insurance
        area with new innovations to enhance the standard of patient care in Afghanistan.
        </p>
        <p>
        Since July 2011 to date, Shams Medex. by the finesse of Almighty Allah has turned into a total example
        of overcoming adversity and benchmark for the social insurance area in Afghanistan.
        </p>
        <p>
        Shams Medex has turned into the main provider of electro-medicinal hardware in Afghanistan. Shams
        Medex is enrolled with each critical obtaining organization in the well-being division.
        </p>
        <p>
        Our firm has extensive experience in dealing of New and Refurbished Electro medical equipments and
        providing management service to our clients under the experience of technical team, ensuring high level
        customer satisfaction.
        </p>
        <br>
        <br>
        <br>
    </section>
</div>
{{/if}}
{{#if contacts}}
{{!-- <section class="contacts">
        <h3 class="text-center">Get in Touch</h3>
        <p>
        Please contact us for general information, including about sales, services, repairment and programs
        </p>
    </section> --}}
<div class="contacts-page">
    
    {{!-- <hr> --}}
    <section class="section-contacts">
        <div class="contacts-list">
            <div class="contact-item">
                <h6>Sales Tel:</h6>
                <p>+93-(0)748 737475</p>
            </div>
            <div class="contact-item">
                <h6>Services Tel:</h6>
                <p>+93-(0)748 737475</p>
            </div>
            <div class="contact-item">
                <h6>Sales Email:</h6>
                <p>info@shamsmedex.com</p>
            </div>
            <dvi class="contact-item">
                <h6>Services Email:</h6>
                <p>services@shamsmedex.com</p>
            </dvi> <br><br>
            <h4>Working Hours:</h4>
            <div class="contact-item">
                <h6>Saturday-Thursday</h6>
                <p>9:00 am - 5:00 pm</p>
            </div>
            <div class="contact-item">
                <h6>Friday</h6>
                <p>Closed</p>
            </div>
        </div>
        <div class="email">
            <h4> Send Us Message </h4>
            <input type="text" class="form-control" placeholder="name"> 
            <input type="email" class="form-control" placeholder="email address"> 
            <input type="phone" class="form-control" placeholder="mobile number">
            <input type="text" class="form-control" placeholder="subject">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="message"></textarea> 
            <div class="text-center">
                <input type="submit" class="submit-emial text-center" value="Submit">
            </div>
        </div>
    </section>
</div>
{{/if}}
{{!-- contacts pate  --}}


{{> c-footer}}