{{!-- {{> c-header}} --}}
{{> c-header-nav}}

<div class="products-page-detail-top">
    <h2> Products/ Diagnostic Imaging</h2>
    <h6>To form a strategic alliance of Products & Services and to ensure Reliability in Practice</h6>
    <div class="head">
    </div>
    {{!-- <div class="tip text-center">
        <h4>Dealing in Brand new, Refurbished and Used </h4>
    </div> --}}
</div>
{{#if diag}}
<div class="products-page-detail-cat">
    <div class="cat">
        <div class="cat-items">
           <a href="/mri">
             <img src="images/products/products-detail/imaging/mri.jpg" alt="mri">
            <div class="cat-item-detail">
                <p>MRI Machines</p>
            </div>
           </a>
        </div>
        <div class="cat-items">
            <a href="/ct">
                <img src="images/products/products-detail/imaging/ct.jpg" alt="ct-scanner">
            <div class="cat-item-detail">
                <p>CT-Scanners</p>
            </div>
            </a>
        </div>
        <div class="cat-items">
            <a href="angio">
                <img src="images/products/products-detail/imaging/angio.jpg" alt="angiography">
            <div class="cat-item-detail">
                <p>Angiography</p>
            </div>
            </a>
        </div>
        <div class="cat-items">
             <a href="/xray">
                <img src="images/products/products-detail/imaging/x-ray.jpg" alt="x-ray">
            <div class="cat-item-detail">
                <p>X-Ray Machine</p>
            </div>
             </a>
        </div>
        <div class="cat-items">
           <a href="/ultra">
             <img src="images/products/products-detail/imaging/ultra.jpg" alt="ultra-sound">
            <div class="cat-item-detail">
                <p>Ultrasound</p>
            </div>
           </a>
        </div>
        <div class="cat-items">
           <a href="/cr-dr">
             <img src="images/products/products-detail/imaging/mri.jpg" alt="mri">
            <div class="cat-item-detail">
                <p>CR & DR Machines</p>
            </div>
           </a>
        </div>
        <div class="cat-items">
            <a href="/spect">
                <img src="images/products/products-detail/imaging/mri.jpg" alt="mri">
            <div class="cat-item-detail">
                <p>PET & Fluoroscopy</p>
            </div>
            </a>
        </div>
        <div class="cat-items">
            <a href="/med-imag-access">
                <img src="images/products/products-detail/imaging/mri.jpg" alt="mri">
            <div class="cat-item-detail">
                <p>Medical Imaging Accessories</p>
            </div>
            </a>
        </div>
    </div>

</div>
{{/if}}
<div class="products-page-detail">

    <section>
        {{#if mri}}
        <div>
            <h1>Magnetic Resonance Imaging (MRI)</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/philips-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/seimens-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/GE-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/canon-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>



        </div>
        {{/if}}
    </section>
    {{!-- CT-Scanners --}}
    <section>
        {{#if ct}}
        <div>
            <h1>CT-Scanners</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/ct/philips-ct.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/ct/siemens-ct.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/ct/ge-ct.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/ct/canon-ct2.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>
        </div>
        {{/if}}
    </section>

    {{!-- angiography --}}
    <section>
        {{#if angio}}
        <div>
            <h1>Angiography Systems</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/philips-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/seimens-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/GE-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/canon-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>



        </div>
        {{/if}}
    </section>
    {{!-- xray --}}
    <section>
        {{#if xray}}
        <div>
            <h1>X-Ray Machines</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/philips-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/seimens-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/GE-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/canon-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>



        </div>
        {{/if}}
    </section>
    {{!-- ultrasound --}}
    <section>
        {{#if ultra}}
        <div>
            <h1>ultra-sound Systems</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/philips-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/seimens-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/GE-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/canon-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>



        </div>
        {{/if}}
    </section>
    {{!-- PET Scanner --}}
    <section>
        {{#if crDr}}
        <div>
            <h1>Computer Radiography (CR) and Digital Radiography (DR)</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/philips-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/seimens-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/GE-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/canon-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>



        </div>
        {{/if}}
    </section>
    {{!-- PET and flouroscopy --}}
     <section>
        {{#if spect}}
        <div>
            <h1>Positron Emission Tomography (PET) & Fluoroscopy</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/philips-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/seimens-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/GE-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/canon-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>



        </div>
        {{/if}}
    </section>
    {{!-- Digital Xray --}}
     <section>
        {{#if dxray}}
        <div>
            <h1>Medical Imaging Accessories</h1>
            <p>
                To develop an MRI room with all standards such as RF shielding, electrical work, Air
                Condition systems, ducking system, room flooring, UPS system, Backup Generator
                system. All possible performances have been pursued to suit the needs for diagnostic
                imaging. When all of these performances are combined together at a high-dimensional
                level, Open MRI becomes the PRIME.
            </p>

        </div>
        <div class="gallary">

            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/philips-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Philips</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/seimens-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Siemens</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/GE-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>GE</p>
                </div>
            </div>
            <div class="gallary-item">
                <div>
                    <img src="images/products/products-detail/imaging/canon-mri.jpg" alt="">
                </div>
                <div class="gallary-item-tip">
                    <p>Canon</p>
                </div>
            </div>



        </div>
        {{/if}}
    </section>

</div>

{{> c-footer}}