{{> c-header-nav}}
    <div class="products-page">
        <div class="head">
            <h1>Products</h1>
            <h6>Your trusted partner in brand new and used medical products and equipents</h6>
   
            <p>
                Operated by medical professional and technologicaly skilled team, our priority is obtaining 
                ensurance reimbursement for our customers with the items best suited for them. 
                We carry a variety of supplies and equipment to be used at hospicals and beyond.
            </p>
            <p>
                Shams Medex is an entire arrangement supplier of therapeutic hardware to medicinal services and life
                sciences (Hospitals), Laboratory, look into focuses and to the business by and large. We speak to the
                entire scope of incredibly famous medicinal gear (brands). Under the umbrella of
                Shams Medex. we showcase European, Japanese's and USA's brands.
            </p>
            <div class="tip text-center">
                <h4>Dealing in Brand new, Refurbished and Used </h4>
            </div>  
        </div>
        


    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/products/diagnosic-imaging.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Diagnositc Imaging</h5>
                <p class="">
                    Magnetic Resonance Imaging (MRI), Computed Tomography (CT) Scanner, 
                    Angiography, X-Ray Machine, Ultrasound , Positron Emission Tomography (PET) Scanner, 
                    Single-Photon Emission Computed Tomography (SPECT) Scanner 
                    Fluoroscopy, Digital Radiography (DR) Machine etc 
                </p>
                <a href="/diagnostic" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

   <section>
        <div class="split-product">
            <div class="image">
                <img src="images/products/anesthesia-device.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Medical Equipment</h5>
                <p class="">
                Dialysis machine, patient manotors, infusion pumps, oxygen machine, Endoscope,
                Defibrillator, Nebulizer, suction machine, Ventilator etc.
                </p>
                <a href="medical-equip" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/products/operation-room.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Surgical and lab instruments</h5>
                <p class="">
                Surgical set and kits. <br> 
                Centrifuges, Microscopes, Refrigerators, Autoclaves, Incubators, 
                Microtomes, Chromatography Systems, Spectrophotometers, PCR Machines, Flow Cytometers.
                </p>
                <a href="surgical-inst" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/products/personal-protection.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5> Personal Protection Equipments</h5>
                <p class="">
                Face Shields, Coveralls, Goggles,  Protective Aprons, Disposable Footwear, 
                Respirators, Isolation Gowns.
                </p>
                <a href="personal-p" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/products/syringe.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Vaccines</h5>
                <p class="">
                Diphtheria, Tetanus, rabbies, Pertussis, Measles, Mumps, Rubella, Varicella, Influenza, Hepatitis A, 
                Hepatitis B, Pneumococcal, Human Papillomavirus (HPV), Meningococcal.
                </p>
                <a href="vaccines" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/products/analysis.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Software and Application</h5>
                <p class="">
                 Medial diagnosis of patient data, patient and hospital data analysis, 
                 hospital management systems, and financial Analyis.
                </p>
                <a href="sw-app" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

    
    </div>
{{> c-footer}}