{{> c-header-nav}}
    <div class="products-page">
        <div class="head">
            <h1>Services
            </h1>
            <h6>Your trusted partner in brand new and used medical products and equipents</h6>
   
            <p>
                Operated by medical professional and technologicaly skilled team, our priority is obtaining 
                ensurance reimbursement for our customers with the items best suited for them. 
                We carry a variety of supplies and equipment to be used at hospicals and beyond.
            </p>
            <div class="tip text-center">
                <h4>Services and repairing availlable 24/7 </h4>
            </div>  
        </div>
        


    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/services/services-support.jpg" alt="services & support">
            </div>
            <div class="info">
                <h5>Services and Support</h5>
                <p class="">
                    Our experienced engineers and technicians are available 24/7 to provide timely and cost-effective solutions. 
                </p>
                {{!-- 
                Our comprehensive medical equipment services and support program is 
                designed to help keep your equipment running smoothly and efficiently. 
                We offer everything from installation and maintenance services to technical 
                support and training. Our experienced technicians are available 24/7 to provide 
                timely and cost-effective solutions. We also offer ongoing support and upgrades 
                to keep your equipment up-to-date with the latest technology. 
                With our medical equipment services and support, you can be sure that you are 
                getting the best possible care for your patients. 
                --}}
                <a href="/services-details" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

   <section>
        <div class="split-product">
            <div class="image">
                <img src="images/services/repair.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Repairment and Installation</h5>
                <p class="">
                Our team of experienced technicians has the expertise and knowledge 
                to provide you with the highest quality medical equipment repair services and install new ones.
                </p>
                {{!-- 
                When it comes to medical equipment repair, you want to be sure you're working with a reliable, 
                experienced partner. Our team of experienced technicians has the expertise and knowledge 
                to provide you with the highest quality medical equipment repair services. We understand 
                the importance of keeping your equipment running smoothly, and we are committed to providing 
                the best customer service and superior results. From troubleshooting and diagnostics to 
                component replacement and preventative maintenance, we will work with you to ensure your 
                medical equipment is in top shape. 
                Contact us today to learn more about our medical equipment repair services.
                 --}}
                <a href="repairment-detail" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/services/planning.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Planning</h5>
                <p class="">
                Our medical equipment planning services are designed to streamline the 
                process of equipping your facility. We provide expert advice and guidance 
                to ensure you have the right equipment for your medical facility.
                </p>
                
                <a href="/planning" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>

    <section>
        <div class="split-product">
            <div class="image">
                <img src="images/services/training.jpg" alt="midical epquipment">
            </div>
            <div class="info">
                <h5>Training</h5>
                <p class="">
                 To increase the productivity and achive more in less time, 
                 Ensure your medical staff is equipped with the knowledge 
                 and skills to handle any medical equipment with our in-depth medical equipment training.
                </p>
                <a href="/training" class="btn btn-outline-primary btn-small btn-main-page">Learn More</a>
            </div>
            
        </div> {{!-- end of main-two --}}
    </section>



    
    </div>
{{> c-footer}}