{{> c-header-nav}}


{{#if services}}
<div class="products-page-detail-top services-support">
    <h2>Survies & Support </h2>
    <h6>To form a strategic alliance of Products & Services and to ensure Reliability in Practice</h6>
    <div class="head">
    </div>
    {{!-- <div class="tip text-center">
        <h4>Dealing in Brand new, Refurbished and Used </h4>
    </div> --}}
</div>
<section class="abc">
    <div class="services-details">
        <h2>Services and Support</h2>
    <div class="services-para">
        <p>
            With the help of our experienced engineering teem we provide 24/7 services and 
            support of any kind of medical equipments and machinary with quaranteed 
            results and our customer satisfiction.
        </p>
        <p>
            you can rest assured knowing that you are receiving the highest quality products 
            backed by our superior service and support. Our team of knowledgeable professionals is 
            available to answer any questions you may have about your purchase, as well as provide 
            hands-on training and technical assistance to ensure that you are getting the most out of your equipment
        </p>
        <p>
            We understand the importance of keeping your medical equipment running properly and efficiently, 
            which is why we provide regular maintenance and repair services to help keep your equipment 
            in top condition.
            We strive to provide the best customer service possible, and we guarantee satisfaction 
            with every purchase. Our team of experts is here to help you find the right medical 
            equipment for your needs and provide the support necessary for a successful purchase.
        </p>
       <a href="contacts"> 
            <p>
                Contact Us:
                for more information Contact our customer sevices. <br>
            
            </p> 
        </a>
        <p>
            Email: <strong>info@shamsmedex.com </strong><br>
            Customer Service Mobile Number: <strong>+93-(0)748 737475</strong>
        </p>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    </div>
    </div>

</section>
{{/if}}
{{#if repair}}
<div class="products-page-detail-top services-support">
    <h2>Survies & Support </h2>
    <h6>To form a strategic alliance of Products & Services and to ensure Reliability in Practice</h6>
    <div class="head">
    </div>
    {{!-- <div class="tip text-center">
        <h4>Dealing in Brand new, Refurbished and Used </h4>
    </div> --}}
</div>

<section class="abc">
    <div class="services-details">
        <h2>Repariment and Installation</h2>
    <div class="services-para">
        <p>
            With the help of our experienced engineering teem we provide 24/7 services and 
            repairing of any kind of medical equipments and machinary with quaranteed 
            results and our customer satisfiction.
        </p>
        <p>
            When it comes to medical equipment repair, you want to be sure you're working with a reliable, 
            experienced partner. Our team of experienced technicians has the expertise and knowledge 
            to provide you with the highest quality medical equipment repair services. We understand 
            the importance of keeping your equipment running smoothly, and we are committed to providing 
            the best customer service and superior results. From troubleshooting and diagnostics to 
            component replacement and preventative maintenance, we will work with you to ensure your 
            medical equipment is in top shape. 
            Contact us today to learn more about our medical equipment repair services.
        </p>
       <a href="contacts"> 
            <p>
                Contact Us:
                for more information Contact our customer sevices. <br>
            
            </p> 
        </a>
        <p>
            Email: <strong>info@shamsmedex.com </strong><br>
            Customer Service Mobile Number: <strong>+93-(0)748 737475</strong>
        </p>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    </div>
    </div>

</section>
{{/if}}

{{#if planning}}
<div class="products-page-detail-top services-planning">
    <h2>Survies/ Planning </h2>
    <h6>To form a strategic alliance of Products & Services and to ensure Reliability in Practice</h6>
    <div class="head">
    </div>
    {{!-- <div class="tip text-center">
        <h4>Dealing in Brand new, Refurbished and Used </h4>
    </div> --}}
</div>

<section class="abc">
    <div class="services-details">
        <h2>Medical and Hospital Equipments Planning</h2>
    <div class="services-para">
        <p>
            Our medical equipment planning services are designed to streamline the 
            process of equipping your facility. We provide expert advice and guidance 
            to ensure you have the right equipment for your medical facility.
        </p>
        <p>
            Our medical equipment planning services are designed to streamline the process 
            of equipping your facility. We provide expert advice and guidance to ensure you 
            have the right equipment for your medical facility. With our help,  
            you can plan for the most efficient and cost-effective medical equipment setup.
        </p>
        <p>
            Our medical equipment planning experts will work with you to understand the 
            specific needs of your facility. We'll analyze your space, available budget, and 
            patient needs to develop a plan that meets your needs. We'll also help you identify 
            the best equipment to purchase and how to purchase it.
        </p>
        <p>
            At our medical equipment planning firm, we understand that the right equipment 
            can make all the difference in patient care. That's why we focus on delivering the 
            highest-quality products and services to ensure you have the best medical equipment 
            available. With our expertise, you can streamline your medical equipment procurement 
            process and ensure your patients receive the best possible care.
        </p>
       <a href="contacts"> 
            <p>
                Contact Us:
                for more information Contact our customer sevices. <br>
            
            </p> 
        </a>
        <p>
            Email: <strong>info@shamsmedex.com </strong><br>
            Customer Service Mobile Number: <strong>+93-(0)748 737475</strong>
        </p>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    </div>
    </div>

</section>
{{/if}}
{{#if training}}
<div class="products-page-detail-top services-training">
    <h2>Survies/ Training </h2>
    <h6>To form a strategic alliance of Products & Services and to ensure Reliability in Practice</h6>
    <div class="head">
    </div>
    {{!-- <div class="tip text-center">
        <h4>Dealing in Brand new, Refurbished and Used </h4>
    </div> --}}
</div>

<section class="abc">
    <div class="services-details">
        <h2>Medical and Hospital Equipments Training</h2>
    <div class="services-para training-background">
        <p>
            To increase the productivity and achive more in less time, 
            Ensure your medical staff is equipped with the knowledge 
            and skills to handle any medical equipment with our in-depth medical equipment training 
            to keep up with the current speed of advancement in technology and equipents
        </p>
        <p>
            Make sure your medical staff is properly trained on the use of medical equipment 
            with our comprehensive medical equipment training. Our experienced instructors provide 
            practical, hands-on instruction and cover topics such as safety, operation, 
            maintenance, and troubleshooting.
        </p>
        <p>
            Keep up with the latest advancements in medical equipment by taking advantage 
            of our medical equipment training. Our courses are designed to provide a comprehensive overview 
            of the latest techniques, technologies, and products, enabling your staff to stay on top of their game.
        </p>
        <p>
            Ensure your medical staff is equipped with the knowledge and skills to handle any medical 
            equipment with our in-depth medical equipment training. Our certified trainers will provide 
            training on the latest technologies and products, as well as hands-on practice to ensure your 
            staff is confidently able to use the equipment.
        </p>
       <a href="contacts"> 
            <p>
                Contact Us:
                for more information Contact our customer sevices. <br>
            
            </p> 
        </a>
        <p>
            Email: <strong>info@shamsmedex.com </strong><br>
            Customer Service Mobile Number: <strong>+93-(0)748 737475</strong>
        </p>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    </div>
    </div>

</section>
{{/if}}




{{> c-footer}}