{{!-- {{> c-header}} --}}
{{> c-header-nav}}

<div class="products-page-detail-top lab">
    <h2>Products/ Surgical & Laboratory Instruments </h2>
    <h6>To form a strategic alliance of Products & Services and to ensure Reliability in Practice</h6>
    <div class="head">
    </div>
    {{!-- <div class="tip text-center">
        <h4>Dealing in Brand new, Refurbished and Used </h4>
    </div> --}}
</div>
<div class="details-page">
    <section>
        <h2>Surgical & Laboratory Instruments</h2>
    </section>
</div>

{{> c-footer}}