<footer>
    <section class="contact">
        <div class="contact-us">
            <h4>We are here to help.</h4>               
            <p>Have quistion? Reach out to us for Answers.</p>
            <a href="/contacts" class="btn btn-outline-primary btn-small btn-main-page">Contact Us</a>
        </div>
    </section>
    <div class="flex-footer">
        <div class="flex-footer-item working-hours">
            <img src="images/svg/clock.svg" alt="" height="48" width="48">
            <div>
                <h6>Office Hours</h6>
                <P>Sat - Thu: 8.30am - 5pm.</P>
                <p>*Service Engineers On Call 24/7</p>
            </div>
        </div>
        <div class="flex-footer-item location">
            <img src="images/svg/location.svg" alt="" height="48" width="48">
            <div>
                <h6>Location</h6>
                <p>Etifaq Plaza Traffic square, <br> Airport Road, Kabul</p>
            </div>
        </div>
        <div class="flex-footer-item phone">
            <img src="images/svg/phone.svg" alt="" height="48" width="48">
            <div>
                <h6>Contact Us</h6>
                <p>Phone: 0093-(0)748 73 74 75</p>
                <p>Email: info@shamsmedex.com</p>
            </div>
        </div>
    </div>


<section class="footer-list">
    <div style="margin-inline:3rem; padding: 1rem 0" class="footer-contents">
        <div class="footer-contents-item footer-contents-item-one">
            {{!-- <img src="images/logo/logo.png" alt=""> --}}
            <h1 style="margin:0; padding:0;">Shams Medex</h1>
            <p style="margin:0; padding:0;">Offering exceptional help in selling, buying, servicing, supporting and 
                maintaining diagnostic and radiological medical imaging equipment
            </p>
        </div>
        <div class="footer-contents-item footer-contents-item-two">
            <div><h6>Products</h6></div>
            <div>
             <ul>
               <a href="/ct"> <li>CT-Scan</li></a>
               <a href="/angio"> <li>Angiography</li></a>
               <a href="/mri"> <li>MRI</li></a>
               <a href="/surgical-inst"> <li>Lab Equipments</li></a>
               <a href="/sw-app"> <li>Software and Analysis</li></a>
                
            </ul>
           </div>
        </div>
        <div class="footer-contents-item footer-contents-item-three">
            <div><h6>Site Links</h6></div>
            <div>
                <ul>
                <a href="/products"><li>Products</li></a>
                <a href="/services"><li>Services</li></a>
                <a href="/about-us"><li>About Us</li></a>
                <a href="/contacts"><li>Contacts</li></a>
                <a href=""><li>Site Map</li></a>
            </ul>
            </div>
        </div>
        <div class="footer-contents-item footer-contents-item-four">
            <div class="social-media-links">
                <h6>social media links</h6>
                <div class="social-links">
                   <a href="https://www.twitter.com@shamsmedex"> <i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.facebook.com@shammsmedex"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.skype.com@shamsmedex"><i class="uil uil-skype-alt"></i></a>
                    <a href="https://www.instagram.com@shamsmedex"><i class="uil uil-instagram-alt"></i></a>
                    <a href="https://www.whatsapp.com@+93748737475"><i class="uil uil-whatsapp-alt"></i></a>

                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <i class="uil uil-copyright"></i> Copyright Shams Medex 2023
    </div>
</section>
</footer>