<section class="c-header-top">
    <div>
        <img src="images/logo/logo.png" alt="logo" height="50">
    </div>
    <div class="align-right phone-hidden">
        Customer Service: +93-(0)748 737475
    </div>
</section>
<section class="c-header-nav">
    <nav>
        <div class="nav-content">
            <a href="/" class="brand">
                <h2>Shams Medex</h2>
            </a>

            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products <i class='bx bx-chevron-down'></i></a>
                   
                        <div class="dropdown-products"> 
                                <div class="nav-contents">
                                <div class="left-section">
                                    <h5>Products</h5>
                                    <p>We supply vast variety of medical equipments such as Imaging, hospical general
                                        equipments, single use devises
                                        and general medical equipments.
                                    </p>
                                    <a href="/products" class="button-see-all">See all</a>
                                </div>
                                <div class="right-section">
                                    <h5>Products features</h5>
                                    <ul class="dropdown-links">
                                        <li>
                                            <a href="/diagnostic">
                                               <div class="ico">
                                                 <i class="uil uil-heartbeat" height="32" width="32"></i>
                                                <h6>Diagnositc Imaging</h6>
                                               </div>
                                                <div>
                                                    <p>Imaging devices such as MRI, CT-Scan, angiography, ultra-sound etc.
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/medical-equip">
                                                <div class="ico">
                                                    <i class="uil uil-monitor-heart-rate"></i>
                                                    <h6>Medical equipments</h6>
                                                </div>
                                                <div>
                                                    <p>i.e anesthesia machines, patient monitors, hemodialysis machines </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/sw-app">
                                                <div class="ico">
                                                    <i class="uil uil-apps"></i>
                                                      <h6>Software & Application</h6>
                                                </div>
                                                <div>
                                                    <p>Leverage Machine Learning on your data to become proactive and data driven.</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/surgical-inst">
                                                <div class="ico">
                                                    <i class="uil uil-microscope"></i>
                                                    <h6>surgical and laboratory instruments</h6>
                                                </div>
                                                <div>
                                                    <p>i.e. microscope, Circulators & Chillers,Dissolution Test Apparatus,
                                                    etc</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/personal-p">
                                                <div class="ico">
                                                    <i class="uil uil-shield-plus"></i>
                                                    <h6>personal protective equipment</h6>
                                                </div>
                                                <div>
                                                    <p>i.e. mask, gowns, gloves, respirators, etc</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/vaccines">
                                                <div class="ico">
                                                    <i class="uil uil-virus-slash"></i>
                                                    <h6>Vaccines</h6>
                                                </div>
                                                <div>
                                                    <p>i.e. Inactivated vaccines, mRNA vaccines, Live-attenuated vaccines,
                                                        etc</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                </li>
                <li><a href="/services">Services <i class='bx bx-chevron-down'></i></a>

                        <div class="dropdown-products"> 
                                <div class="nav-contents">
                                <div class="left-section">
                                    <h5>Services</h5>
                                    <p>With the help of our experienced engineering teem we provide 24/7 
                                        services and repairing of any kind of medical equipments and machinary with quaranteed results and 
                                        our customer satisfiction. 
                                    </p>
                                    <a href="/services" class="button-see-all">See all</a>
                                </div>
                                <div class="right-section">
                                    <h5>Survices and Support</h5>
                                    <ul class="dropdown-links">
                                        <li>
                                            <a href="/services-details">
                                               <div class="ico">
                                                 <i class="uil uil-setting"></i>
                                                <h6>Services and support</h6>
                                               </div>
                                                <div>
                                                    <p>We support our customers for the continous maintenance of our products and sales. 
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="repairment-detail">
                                                <div class="ico">
                                                    <i class="uil uil-wrench"></i>
                                                    <h6>Repairment</h6>
                                                </div>
                                                <div>
                                                    <p>Our experiaced technical team can repair any type of medical equipments on demand.</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planning">
                                                <div class="ico">
                                                     <i class="uil uil-calendar-alt"></i>
                                                      <h6>Planning</h6>
                                                </div>
                                                <div>
                                                    <p>We help you plan and select equipments according to your bussiness capacity and capabilities.</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/training">
                                                <div class="ico">
                                                    <i class="uil uil-graduation-cap"></i>
                                                    <h6>Training</h6>
                                                </div>
                                                <div>
                                                    <p>By training your staff to get the most from the latest developed 
                                                        diagnostic and technological tools & equipments. 
                                                    </p>
                                                </div>
                                            </a>
                                        </li> 
                                        {{!--
                                        <li>
                                            <a href="">
                                                <div class="ico">
                                                    <i class="uil uil-shield-plus"></i>
                                                    <h6>personal protective equipment</h6>
                                                </div>
                                                <div>
                                                    <p>i.e. mask, gowns, gloves, respirators, etc</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <div class="ico">
                                                    <i class="uil uil-virus-slash"></i>
                                                    <h6>Vaccines</h6>
                                                </div>
                                                <div>
                                                    <p>i.e. Inactivated vaccines, mRNA vaccines, Live-attenuated vaccines,
                                                        etc</p>
                                                </div>
                                            </a>
                                        </li> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                
                
                </li>
                <li><a href="/about">About Us <i class='bx bx-chevron-down'></i></a>

                        <div class="dropdown-products"> 
                            <div class="nav-contents">
                                <div class="left-section">
                                    <h5>Who we are?</h5>
                                    <p>With the help of our experienced engineering teem we provide 24/7 
                                        services and repairing of any kind of medical equipments and machinary with quaranteed results and 
                                        our customer satisfiction. 
                                    </p>
                                    
                                </div>
                                <div class="right-section">
                                    <h5>Our Organization</h5>
                                    <ul class="dropdown-links">
                                        <li>
                                            <a href="/tenders">
                                               <div class="ico">
                                                <i class="uil uil-gold"></i>
                                                <h6>Tenders</h6>
                                               </div>
                                                <div>
                                                    <p>We Appreciate you doing business and us if you are interested. 
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/careers">
                                                <div class="ico">
                                                   <i class="uil uil-telegram-alt"></i>
                                                    <h6>Careers</h6>
                                                </div>
                                                <div>
                                                    <p>We are looking for experiaced staff to fill our vacancies.</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/about-us">
                                                <div class="ico">
                                                     <i class="uil uil-info-circle"></i>
                                                      <h6>About us</h6>
                                                </div>
                                                <div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolores fuga ducimus!</p>
                                                </div>
                                            </a>
                                        </li>
                                        {{!-- <li>
                                            <a href="">
                                                <div class="ico">
                                                    <i class="uil uil-microscope"></i>
                                                    <h6>Training</h6>
                                                </div>
                                                <div>
                                                    <p>By training your staff to get the most from the latest developed 
                                                        diagnostic and technological tools & equipments. 
                                                    </p>
                                                </div>
                                            </a>
                                        </li>  --}}
                                        {{!--
                                        <li>
                                            <a href="">
                                                <div class="ico">
                                                    <i class="uil uil-shield-plus"></i>
                                                    <h6>personal protective equipment</h6>
                                                </div>
                                                <div>
                                                    <p>i.e. mask, gowns, gloves, respirators, etc</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <div class="ico">
                                                    <i class="uil uil-virus-slash"></i>
                                                    <h6>Vaccines</h6>
                                                </div>
                                                <div>
                                                    <p>i.e. Inactivated vaccines, mRNA vaccines, Live-attenuated vaccines,
                                                        etc</p>
                                                </div>
                                            </a>
                                        </li> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                
                
                </li>
                <li><a href="/contacts">Contacts</i></a></li>
            </ul>
            <i class="<i class="uil uil-bars toggle-navbar"></i> 
        </div>
    </nav>
</section> {{!-- sheader-bottom --}}